src/main/resources/META-INF/roof-chain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.roof.org/schema/roof-chain"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:tool="http://www.springframework.org/schema/tool"
            targetNamespace="http://www.roof.org/schema/roof-chain"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans-4.3.xsd"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"
                schemaLocation="http://www.springframework.org/schema/tool/spring-tool-4.3.xsd"/>

    <xsd:element name="chain">
        <xsd:annotation>
            <xsd:documentation>声明一个责任链</xsd:documentation>
        </xsd:annotation>

        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:group ref="chainElements"/>
                    <xsd:attributeGroup ref="chainAttrGroup"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:attributeGroup name="chainAttrGroup">
        <xsd:attribute name="startNodeName" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>责任链开始节点名称</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:group name="chainElements">
        <xsd:all>
            <xsd:element name="nodes">
                <xsd:annotation>
                    <xsd:documentation>节点列表</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="true">
                    <xsd:sequence>
                        <xsd:choice minOccurs="0" maxOccurs="unbounded">
                            <xsd:element ref="node"/>
                        </xsd:choice>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:group>

    <xsd:element name="node">
        <xsd:annotation>
            <xsd:documentation>节点</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType mixed="true">
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:all>
                        <xsd:element name="forwards">
                            <xsd:complexType mixed="true">
                                <xsd:complexContent>
                                    <xsd:extension base="beans:identifiedType">
                                        <xsd:all>
                                            <xsd:element name="forward">
                                                <xsd:complexType>
                                                    <xsd:attribute name="next" type="xsd:string" use="required">
                                                    </xsd:attribute>
                                                    <xsd:attribute name="to" type="xsd:string" use="required">
                                                    </xsd:attribute>
                                                </xsd:complexType>
                                            </xsd:element>
                                        </xsd:all>
                                    </xsd:extension>
                                </xsd:complexContent>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="target">
                            <xsd:complexType>
                                <xsd:choice minOccurs="0" maxOccurs="1">
                                    <xsd:element ref="beans:bean"/>
                                    <xsd:element ref="beans:ref"/>
                                </xsd:choice>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                    <xsd:attribute name="name" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>节点名称，默认为类名首字母小写</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="methodName" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>执行方法名称，默认为doNode</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <!--    <xsd:attribute name="target" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>节点类名全路径</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>-->
                    <xsd:attribute name="ref" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>应用其他节点的名称</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>


